---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-*,clang*,performance-*,misc-*,-misc-include-cleaner'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            scott
CheckOptions:
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  google-readability-braces-around-statements.ShortStatementLines: '1'
  google-readability-function-size.StatementThreshold: '800'
  google-readability-namespace-comments.ShortNamespaceLines: '10'
  google-readability-namespace-comments.SpacesBeforeComments: '2'
  llvm-else-after-return.WarnOnConditionVariables: 'false'
  llvm-else-after-return.WarnOnUnfixable: 'false'
  llvm-qualified-auto.AddConstToQualified: 'false'
  misc-const-correctness.AnalyzeReferences: 'true'
  misc-const-correctness.AnalyzeValues: 'true'
  misc-const-correctness.TransformPointersAsValues: 'false'
  misc-const-correctness.TransformReferences: 'true'
  misc-const-correctness.TransformValues: 'true'
  misc-const-correctness.WarnPointersAsValues: 'false'
  misc-coroutine-hostile-raii.RAIITypesList: 'std::lock_guard;std::scoped_lock'
  misc-coroutine-hostile-raii.SafeAwaitableList: ''
  misc-header-include-cycle.IgnoredFilesList: ''
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'false'
  misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables: 'false'
  misc-throw-by-value-catch-by-reference.CheckThrowTemporaries: 'true'
  misc-throw-by-value-catch-by-reference.MaxSize: '18446744073709551615'
  misc-throw-by-value-catch-by-reference.WarnOnLargeObjects: 'false'
  misc-uniqueptr-reset-release.IncludeStyle: llvm
  misc-unused-parameters.IgnoreVirtual: 'false'
  misc-unused-parameters.StrictMode: 'false'
  misc-use-internal-linkage.FixMode: UseStatic
  performance-enum-size.EnumIgnoreList: ''
  performance-faster-string-find.StringLikeClasses: '::std::basic_string;::std::basic_string_view'
  performance-for-range-copy.AllowedTypes: ''
  performance-for-range-copy.WarnOnAllAutoCopies: 'false'
  performance-inefficient-string-concatenation.StrictMode: 'false'
  performance-inefficient-vector-operation.EnableProto: 'false'
  performance-inefficient-vector-operation.VectorLikeClasses: '::std::vector'
  performance-move-const-arg.CheckMoveToConstRef: 'true'
  performance-move-const-arg.CheckTriviallyCopyableMove: 'true'
  performance-no-automatic-move.AllowedTypes: ''
  performance-type-promotion-in-math-fn.IncludeStyle: llvm
  performance-unnecessary-copy-initialization.AllowedTypes: ''
  performance-unnecessary-copy-initialization.ExcludedContainerTypes: ''
  performance-unnecessary-value-param.AllowedTypes: ''
  performance-unnecessary-value-param.IncludeStyle: llvm
SystemHeaders:   false
...

